<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="app">
        <div class="app__header">
            <% if (weather) { %>
                <h1><%= weather %></h1>
            <% } %>
            <% if (error) { %>
                <p class="error"><%= error %></p>
            <% } %>
        </div>
        <form action="/" method="POST" class="app__content">
            <div class="input">
                <label for="city">City</label>
                <input type="text" id="city" name="city" placeholder="City name">
            </div>
            <button type="submit" class="btn">Show Weather</button>
        </form>
    </div>
</body>
</html>